@import './indexController.scss';

/* 重置fullpage圈圈 */
#fp-nav {
	position: fixed;
	top: 50%;
	z-index: 100;
	margin-top: -32px;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
}
#fp-nav ul {
	margin: 0;
	padding: 0;
}
#fp-nav ul li {
	position: relative;
	display: block;
	margin: 7px;
	width: 15px;
	height: 15px;
}
#fp-nav ul li a {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	cursor: pointer;
}
#fp-nav ul li a span {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	margin: -3px 0 0 -3px;
	width: 7px;
	height: 7px;
	border: 0;
	border-radius: 50%;
	background: #cfcfd1;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
	margin: -7px 0 0 -7px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #de262e;
}

// 重置swiper的按钮
.swiper-container.home {
    &:hover {
        .swiper-button-prev, .swiper-button-next, .swiper-pagination-bullet {
            opacity: 1;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.3s ease;
        opacity: 0;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    .swiper-button-prev {
        left: 50px;
        background-image: url(../../static/images/arrowLeft.png);
        background-size: 50% 50%;
    }
    .swiper-button-next {
        right: 50px;
        background-image: url(../../static/images/arrowRight.png);
        background-size: 50% 50%;
    }
    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease;
    }
    .swiper-pagination-bullet-active {
        background-color: #fff;
        border: 3px solid rgba(0, 0, 0, 0.5);
        position: relative;
        top: 3px;
    }
}
