$headerHeight: 80px;
#header {
    position: absolute;
    height: $headerHeight;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
    .logo {
        height: $headerHeight;
        width: 200px;
        margin-left: 100px;
        display: inline-block;
        background: url(../../static/images/logo.png) no-repeat 50% 130% scroll;
        background-size: cover;
    }
    .navi {
        float: right;
        margin-right: 100px;
        a {
            display: inline-block;
            padding: 15px 0 25px;
            margin: 0 20px;
            border-top: 5px solid transparent;
            cursor: pointer;
            margin-top: 11px;
            transition: all 0.3s ease;
            color: #333;
            &.checked, &:hover {
                border-top: 5px solid #F1501A;
                color: #F1501A;
            }
        }
    }
}

.fullpage-container {
    height: calc(100% - #{$headerHeight});
    position: relative;
    top: $headerHeight;
}
.content-container {
    height: calc(100% - 0px);
}
.home-swiper-container {
    .banner {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.25);
        }
        &.banner1 {
            background: url(../../static/images/banner1.jpg) no-repeat center scroll;
            background-size: cover;
        }
        &.banner2 {
            background: url(../../static/images/banner2.jpg) no-repeat center scroll;
            background-size: cover;
        }
    }

    .banner1-title {
        width: 800px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -400px;
        margin-top: -150px;
        text-align: center;
        color: #fff;
        h1 {
            font-size: 56px;
            font-family: 微軟正黑體;
        }
        h2 {
            font-size: 26px;
            font-family: courier new;
        }
        h3 {
            font-size: 16px;
            text-align: left;
        }
    }

    .banner2-title {
        width: 1000px;
        height: 360px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -500px;
        margin-top: -180px;
        color: #fff;
        .card {
            float: left;
        }
        .title {
            display: inline-block;
            width: 500px;
            height: 100%;
            h1 {
                font-size: 56px;
                font-family: 微軟正黑體;
                margin-top: 30px;
            }
            p {
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}

